<ul id="notetitles">
  {{#each notelist}}
    <li>{{key}}:
      <a href="/notes/view?key={{key}}">{{title}}</a>
    </li>
  {{/each}}
</ul>
{{> footerjs}}
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/javascripts/index.js"></script>